<div class="form-group" ng-class="{'has-error': options.formField.$invalid}">
    <label for="{{id}}">
        {{options.label || 'Text'}}
        {{options.required ? '*' : ''}}
    </label>
    <input type="date"
           class="form-control"
           id="{{id}}"
           formly-dynamic-name="options.key"
           formly-custom-validation="options.validators"
           placeholder="{{options.placeholder}}"
           aria-describedby="{{id}}_description"
           ng-required="options.required"
           ng-disabled="options.disabled"
           ng-model="result[options.key || index]">
   <p id="{{id}}_description" class="help-block" ng-if="options.description">{{options.description}}</p>
</div>