.vco-slider .nav-previous .nav-container, .vco-slider .nav-next .nav-container {

}

// Overide the timeline css (that comes with the timeline) by adding more specifity
.hellojc {
    .storyjs-embed {
         &.full-embed {
            width: 100% !important;
         }
    }

    .vco-storyjs a {
        &:link,
        &:visited,
        &:active {
            color: @link-color;
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .list-tags {
        .clearfix();
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        margin-left: -7.5px;
        margin-bottom: 10px;
    }

    .list-tags li {
        float: left;
        font-size: 11px;
        font-weight: 700;
        color: #fff;
        background-color: #ccc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        vertical-align: baseline;
        white-space: nowrap;
        line-height: 11px;
        margin-left: 7.5px;
        margin-bottom: 7.5px;
        padding: 3px;
    }

    .vco-slider .slider-item .content .content-container .text .container .slide-tag {
        display: inline-block;
        margin-top: 7.5px;
        padding: 3px;
    }

    .vco-storyjs .vco-feature .vco-slider {
        padding-bottom: 10px;
    }

    .vco-slider .slider-item .content .content-container {
        margin: 10px 0;
    }

    .vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .caption {
        font-size: 14px;
        line-height: 15px;
    }

    .container h3 {
        clear: both;
    }

    .vco-slider .nav-previous .nav-container {
      left: 10px;
    }

    .vco-slider .nav-next .nav-container {
      left: -10px;
    }

    .vco-slider .slider-item .content .content-container .twitter {
        .clearfix();
        border: 1px solid #999;
        padding: 15px;

        .twitter-tweet {
            & > p:first-child {
                padding-top: 0;
                margin-top: 0;
            }
        }

        .vcard {
            &.author {
                float: left;
            }

            .avatar {
                display: none;
                height: 0;
                width: 0;
            }

            .fn,
            .nickname {
                padding: 0;
            }
        }
    }
}