<div class="container">
    <div class="row">
        <h1 class="text-center">Login</h1>

        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
            <div class="validation-summary-container">
                <div class="validation-summary row text-center alert alert-danger" ng-show="frmLogin.$dirty && frmLogin.$invalid && showValidationSummary">
                    <ul class="list-validation list-unstyled">
                        <li ng-repeat="error in frmLogin.$error.required">
                             <span>{{ error.$name.capitaliseFirstLetter() }} required</span>
                        </li>
                        <li ng-repeat="error in frmLogin.$error.apiError track by $index">
                            <span>{{ error }}</span>
                        </li>
                        <li ng-show="frmLogin.$error.unexpectedApiError">
                             <span>{{ frmLogin.$error.unexpectedApiError }}</span>
                        </li>
                    </ul>
                </div><!-- .validation-summary -->
            </div><!-- .validation-summary-container -->

            <formly-form id="frmLogin" name="frmLogin" result="formData" fields="formFields" options="formOptions" ng-submit="onSubmit()" form-submit>
                <button type="submit" class="btn btn-primary">Submit</button>
            </formly-form>
        </div>

    </div><!-- .row -->
</div><!-- .container -->