// This is the main application stylesheet. It should include or import all
// stylesheets used throughout the application as this is the only stylesheet in
// the Grunt configuration that is automatically processed.

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/*
    $ANGULAR........................Special classes used by AngularJS
    $BOOTSTRAP......................bootstrap imports - (mostly un-used, getting it from a CDN).
    $VENDOR OVERIDES................overidden vendor styling.
    $FONT-FACE......................import brand fonts.
    $MISC IMPORTS (NOT BOOTSTRAP)...LESS imports that aren't bootstrap and this app
    $ELEMENTS.......................unclassed elements h1, h2, p, ul, li
    $STRUCTURE......................main structural styles - header/footer etc.
    $APP WIDE STYLES................generic styles.
    $NAVS...........................generic nav styles - overrides of default bootstrap styles.
    $FORMS..........................generic form styles - overrides of default bootstrap styles.
    $BUTTONS........................generica button styles - overrides of default bootstrap styles.
    $ICONS..........................icons used across multiple pages of the site.
    $APP IMPORTS....................imports of each apps styles within the project
    $LISTS..........................list styling
    $MEDIA QUERIES
*/





/*------------------------------------*\
    $ANGULAR
\*------------------------------------*/

// Specialist class, allows us to hide elements until angular is ready to show them
// http://docs.angularjs.org/api/ng.directive:ngCloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}





/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

//------------------------------------
// $BOOTSTRAP
// First, we include the Twitter Bootstrap LESS files. Only the ones used in the
// project should be imported as the rest are just wasting space.

// JC Update    We're using bootstrap from the CDN so we need to comment these out.
//              Mixins and variables left so this will compile.
//------------------------------------
@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/variables.less';
@import '../../vendor/bootstrap/less/normalize.less';

// @import '../../vendor/bootstrap/less/mixins.less';
// @import '../../vendor/bootstrap/less/utilities.less';
// @import '../../vendor/bootstrap/less/scaffolding.less';
// @import '../../vendor/bootstrap/less/type.less';
// @import '../../vendor/bootstrap/less/grid.less';
// @import '../../vendor/bootstrap/less/navs.less';
// @import '../../vendor/bootstrap/less/forms.less';
// @import '../../vendor/bootstrap/less/navbar.less';
// @import '../../vendor/bootstrap/less/buttons.less';
// @import '../../vendor/bootstrap/less/button-groups.less';
// @import '../../vendor/bootstrap/less/dropdowns.less';

/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';





/*------------------------------------*\
    $VENDOR OVERIDES
\*------------------------------------*/
.hellojc {
    // Style the growl plugin to ensure it appears above everything.
    .growl {
        z-index: 9999;
    }

    // Amend the animation style of the growl notification
    .growl-item {
        overflow-y: hidden;
        max-height: 500px; /* approximate max height */

        &.ng-enter,
        &.ng-leave {
            .transition(2s linear all); // define the transition, i.e. the end state of this element
        }
    }

    // Turn off the default border colour for wrror, otherwise it halo's around the input immediately
    // .ng-submitted used later to do the error outline
    .has-error {
        input,
        textarea {
            border-color: #ccc;
        }
    }
}





/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/





/*------------------------------------*\
    $MISC IMPORTS (NOT BOOTSTRAP)
\*------------------------------------*/
// @import "../lib/icomoon/style.less";
@import "mixins.less";
@import (less) "../../vendor/angular-growl-v2/build/angular-growl.css"; // Import the growl css as a LESS file (they don't offer a LESS file)





/*------------------------------------*\
    $ELEMENTS
\*------------------------------------*/
html {
    font-size: 62.5%;
}

html,
body,
.full-height {
    height: 100%;
}

body {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    color: @text-color;
    background: @body-bg;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1;
    font-weight: 400;
    margin-top: 0;
}

a {
    &:link,
    &:visited,
    &:active {
        color: @link-color;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}





/*------------------------------------*\
    $STRUCTURE
\*------------------------------------*/
.container {
    padding-top: 20px;
}

footer.footer-main {
    bottom: 5px;
    color: #999;
    font-size: 0.8em;
    left: 15px;
    position: absolute;
    width: 98%;

    p,
    .list-contactlinks {
        margin: 0;
    }
}

.user-actions-container {
    .list-unstyled {
        margin: 0 0 0 -10px;

        li {
            margin: 0 0 0 10px;
        }
    }
}





/*------------------------------------*\
    $APP WIDE STYLES
\*------------------------------------*/
.ajax-loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}





/*------------------------------------*\
    $FORMS
\*------------------------------------*/
// .ng-submitted {
//     .has-error {
//         input {
//             &.form-control,
//             .form-control {
//                 background: @input-bg-error;
//                 color: @input-color-error;
//                 .placeholder(@input-color-error);
//             }
//         }
//     }
// }





/*------------------------------------*\
    $ICONS
\*------------------------------------*/
.icon-centered {
    height: 55px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 54px;
}

.icon-spin.icon-centered {
    margin: -25px 0 0 -25px;
}


.icon-spin-mixin() {
    .animation(none);
    background-color: fade(@body-bg, 70%);
    background-image: url('@{image-directory}ajax-loader.gif') ;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 75px;
    text-indent: -9999px;
    width: 75px;
}


.icon-spin {
    .icon-spin-mixin();
}





/*------------------------------------*\
    $APP IMPORTS
    Now that all app-wide styles have been applied, we can load the styles for
    all the submodules and components we are using.
\*------------------------------------*/
@import '../app/timeline/timeline.less';





//------------------------------------
//  $LISTS
//------------------------------------
.list-contactlinks {
    .no-bullets();
    padding: 0;
    margin: 0;
}

.list-contactlinks li {
    float: left;
}

.list-contactlinks li i {
    font-size: 1.2em;
    margin-top: -1px;
}

.list-contactlinks li:before {
    content: " | ";
    margin: 0 5px;
}

.list-contactlinks li:first-child:before {
    content: "";
    margin: 0;
}





/*------------------------------------*\
    $MEDIA QUERIES
\*------------------------------------*/
/**
 * Useful CSS screen resolution debug. Puts a banner at the top of the page
 * telling you which media query you're in.
 *
 * This is LESS syntax (for the mixin)
 */
// .debug() {
//     color: #fff;
//     display: block;
//     left: 0;
//     padding: 10px;
//     position: absolute;
//     top: 0;
//     width: 100%;
//     z-index: 999999;
// }

// // Small screen / tablet
// @media screen and (max-width: @screen-sm-max) {
//     body:before {
//         .debug();
//         background: green;
//         content: 'Small screen / tablet @{screen-sm-max}';
//     }
// }
