// These are the variables used throughout the application. This is where
// overwrites that are not specific to components should be maintained.

@import '../../vendor/bootstrap/less/variables.less';

// $VARIABLES
@sansFontFamily:    'Roboto', sans-serif;
@text-color:        #666666;
@body-bg:           #fff;

@brand-primary:     #08c;

@link-color:        @brand-primary;
@link-hover-color:  @brand-primary;

// $DIRECTORYS
@image-directory:               '../assets/images/';
@font-directory:                '../assets/fonts/';

@input-bg-error:    #ff000b;
@input-color-error: #fff !important;