<div class="container">
    <div class="row">
        <h1 class="text-center">Timeline item</h1>

        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
            <div class="alert alert-success">
                <h2>Success!</h2>
            </div>
        </div>
    </div>
</div>