<div class="container">
    <div class="row">
        <h1 class="text-center">Timeline item</h1>
        <!--
        <form name="loginFrm" class="form-horizontal" novalidate form-submit>
            <fieldset>
                <div class="validation-summary" ng-show="loginFrm.$dirty && loginFrm.$invalid && showValidationSummary">

                    <ul class="list-validation">
                        <li ng-repeat="error in loginFrm.$error.required">
                             {{ error.$name.toString() | i18n }}
                        </li>
                        <li ng-repeat="error in loginFrm.$error.email">
                             {{'_EmailFormat_' | i18n}}
                        </li>
                        <li ng-show="loginFrm.$error.apiError">
                             {{ loginFrm.$error.apiError.toString() | i18n}}
                        </li>
                    </ul>
                </div>

                <div ng-class="{'has-error':isInvalid('_Input_Email_')}" class="form-group">
                    <label for="inptEmail" data-i18n="_Label_Email_" class="col-xs-3 col-sm-3 control-label"></label>
                    <div class="col-xs-6 col-sm-6 error-container">
                        <input type="email" name="_Input_Email_" id="inptEmail" class="form-control" required ng-model="user.Email" tabindex="1">
                    </div>
                    <div class="col-xs-3 col-sm-3"></div>
                </div>

                <div ng-class="{'has-error':isInvalid('_Input_Password_')}" class="form-group">
                    <label for="inptPassword" data-i18n="_Label_Password_" class="col-xs-3 col-sm-3 control-label"></label>
                    <div class="col-xs-6 col-sm-6 error-container">
                        <input type="password" name="_Input_Password_" id="inptPassword" class="form-control" required ng-model="user.Password" tabindex="2">
                    </div>
                    <div class="col-xs-3 col-sm-3"></div>
                </div>

                <div class="form-group text-center form-button-container">

                    <button type="submit" class="btn-default btn-primary" ng-click="login(user)" data-trigger-change="#inptEmail,#inptPassword" data-i18n-html="<i class='icon-tick'></i>|_Button_Login_" tabindex="3"></button>
                    <button type="button" class="btn-default btn-secondary" ng-class="{'full-height pop-up-window': isPopUpWindow() }" ng-click="cancel(user)" data-i18n-html="<i class='icon-close'></i>&nbsp;|_Button_Cancel_" tabindex="4"></button>
                </div>

                <div class="form-group text-center">
                    <small><a ng-href="#!/forgotten-password" data-i18n="_Page_Title_Forgotten_Password_" tabindex="5"></a></small>
                </div>
            </fieldset>
        </form>
        -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
            <div class="validation-summary-container">
                <div class="validation-summary row text-center alert alert-danger" ng-show="frmCreate.$dirty && frmCreate.$invalid && showValidationSummary">
                    <ul class="list-validation list-unstyled">
                        <li ng-repeat="error in frmCreate.$error.required">
                             <span>{{ error.$name.capitaliseFirstLetter() }} required</span>
                        </li>
                        <li ng-repeat="error in frmCreate.$error.apiError track by $index">
                            <span>{{ error }}</span>
                        </li>
                        <li ng-show="frmCreate.$error.unexpectedApiError">
                             <span>{{ frmCreate.$error.unexpectedApiError }}</span>
                        </li>
                    </ul>
                </div><!-- .validation-summary -->
            </div><!-- .validation-summary-container -->

            <formly-form id="frmCreate" name="frmCreate" result="formData" fields="formFields" options="formOptions" ng-submit="onSubmit()" form-submit>
                <button type="submit" class="btn btn-primary">Submit</button>
            </formly-form>
        </div>

    </div><!-- .row -->
</div><!-- .container -->