<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org" id="ng-app" ngApp="helloJC" ng-controller="AppCtrl"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org" id="ng-app" ngApp="helloJC" ng-controller="AppCtrl"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:ng="http://angularjs.org" id="ng-app" ngApp="helloJC" ng-controller="AppCtrl"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js gt-ie8" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="helloJC" ng-controller="AppCtrl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>helloJC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="fragment" content="!" />

    <meta name="author" content="Jonathan Croughton">
    <meta name="description" content="Highlighting the products, web sites and web apps developed by me, Jonathan Croughton. An HTML5 / CSS3 / Javascript (AngularJS, Backbone, jQuery) Front End Web Developer with more than 13 years experience.">
    <meta name="keywords" content="Jonathan Croughton, hellojc, JC, Web Developer, html5, css3, HTML, django">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->

    <meta http-equiv="cleartype" content="on"> <!-- make windows mobile use cleartype -->

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">

</head>
<body class="hellojc section-{{ currentSiteSection }}">
    <div class="growl-container" growl></div>

    <div ui-view="main" class="full-height">
    </div>

    <footer class="footer-main">
        <div class="pull-left">

            <ul class="list-contactlinks list-unstyled clearfix">
                <li>&copy; <%= author %>&nbsp;<%= date %></li>
                <li><i class="icon-twitter"></i>&nbsp;<a href="https://twitter.com/hellojc" target="_blank">Twitter</a></li>
                <li><i class="icon-linkedin"></i>&nbsp;<a href="http://www.linkedin.com/in/jonathancroughton/" target="_blank">LinkedIn</a></li>
                <li><i class="icon-globe"></i>&nbsp;<a href="http://about.me/jonathancroughton" target="_blank">AboutMe</a></li>
            </ul>
            <p>Created with <a href="http://timeline.verite.co" target="_blank">TimelineJS</a></p>
        </div><!-- .pull-left -->

        <div class="pull-right">
            <div class="user-actions-container" ng-show="isLoggedIn()">
                Logged in: <span ng-bind-template="{{ loggedInAs }}"></span>

                <ul class="list-unstyled">
                    <li class="pull-left"><a ui-sref="timeline">App</a></li>
                    <li class="pull-left"><a ui-sref="dave">Admin</a></li>
                    <li class="pull-left last"><a ui-sref="logout">Logout</a></li>
                </ul>
            </div><!-- .user-actions-container -->
        </div><!-- .pull-right -->

    </footer>


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42123378-1', 'bitbucket.org');
        ga('send', 'pageview');
    </script>


    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>?v=<%= version %>"></script><% }); %>


    <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!-- Don't use latest in case of breaking changes -->
    <script type="text/javascript" src="//cdn.knightlab.com/libs/timeline/2.32.0/js/storyjs-embed.js"></script>
</body>
</html>